.filters-container {
    height: var(--height-filters);
    font-size: 0.9rem;
    font-weight: bold;
}

.filters {
    column-gap: 16px;
}

.filter {
    background-color: var(--blue4);
    padding: 5px 8px 5px 8px;
    border-radius: 2px;
    min-width: 175px;

    & > * {
        width: 100%;
    }
}

.subscribe-filter {
    background-color: var(--gray5);
    padding: 8px 8px 12px 8px;
    margin: 10px 0;
    border-radius: 2px;
    min-width: 175px;

    & > * {
        width: 100%;
    }
}

.filter-label {
    font-size: .75rem;
    font-weight: normal;
    text-transform: uppercase;
}

.bubble-filter {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    min-width: 150px;

    & .filter-label {
        width: 5.5em;
    }

    & .filter-items {
        display: flex;
        flex-direction: column;
    }

    & input {
        margin-right: 5px;
    }
}