.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.login-box {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
    animation: popup 0.25s ease-out;
}

.login-title {
    font-weight: bold;
}

.login-text {
    text-align: left;
    font-size: .75rem;
    margin-top: 6px;
}

/* Fade-in animation */
@keyframes popup {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--blue2);
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    background: var(--blue1);
}